@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');
* {
  font-family: 'Be Vietnam Pro', sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(215, 15%, 25%);
}

a {
  color: inherit;
  text-decoration: none;
}
