.new-category{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 8%;
  z-index: 10;
}

.new-category__popup{
  display: flex;
  flex-direction: column;
  background-color: hsl(215, 15%, 25%);
  height: 100%;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  padding: 2.5rem;
  .popup__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
    font-size: 28px;
    .header__title{
    }
    .header__exit{
    }
  }

  .popup__character-count{
    font-size: 12px;
    color: hsl(0, 0%, 50%);
    margin-top: 0.5rem;
    margin-left: auto;
  }

  .popup__color-selector{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
    height: 70px;
    padding: 1.5rem;
    background-color: hsl(215, 15%, 35%);
    border-radius: 50px;
    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-clip: content-box;
      background-color: hsl(220, 13%, 20%);
    }
    .color-selector__color{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 100ms ease-in-out;
      &:hover{
        outline: 5px solid white;
      }
      &--selected{
        outline: 5px solid hsl(51, 100%, 50%) !important;
      }
    }
    .color-selector__random{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      color: white;
      svg{
        pointer-events: none;
      }
    }
  }
  
  .popup__actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: none;
    border-radius: 5px;
    outline: none;
    .actions{
      font-size: 13px;
      color: white;
      background-color: hsl(215, 15%, 20%);
      border: none;
      border-radius: 5px;
      outline: none;
      padding: 1rem 2rem;
      &:first-child{
        margin-right: 0.8rem;
      }
      transition: all 100ms ease-in-out;
    }
    .actions__cancel{
      &:hover{
        background-color: hsl(8, 100%, 67%);
      }
    }
    .actions__confirm{
      &:hover{
        background-color: rgb(107, 209, 145);
      }
    }
  }
  .popup__footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
  }
}

.popup__title-input-container{
  display: flex;
  .popup__input{
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: hsl(215, 15%, 35%);
  }
  .popup__name{
    width: 100%;
    border-radius: 0 5px 5px 0;
    padding: 1rem 1.5rem;
  }
  .popup__prefix{
    width: 50px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid black;
    text-align: center;
  }
}