.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 48px;
  display: flex;
  width: 100%;
  &__button{
    font-size: 16px;
    width: 65%;
    max-width: 150px;
    min-width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
  }
  &__start{
    background-color: rgb(107, 209, 145);
  }
  &__stop{
    background-color: hsl(8, 100%, 67%);
  }
}

.timer__display{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  width: auto;
  .display__time{
    width: 100%;
    background-color: hsl(215, 15%, 25%);
    padding: 0.5rem 1rem;
    z-index: 5;
    &--editing{
      color: gray;
    }
    &--focus{
      outline: 2px solid hsl(197, 80%, 48%);
      border-radius: 5px;
    }
  }
  .time__input{
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    z-index: -5;
  }
  .time__element{
  }
  .time__number{
    text-align: center;
  }
  .time__step{
    padding-right: 1rem;
    text-align: left;
    font-size: 36px;
    &:last-child{
      padding: 0;
    }
  }
}