$searchHeight: 30px;

.vote-controls{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $searchHeight;
  &__add-new-button{
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
  }
}

.vote-controls__dropdown-container{
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  .vote-controls__dropdown-button{
    height: $searchHeight;
    width: auto;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hsl(215, 15%, 35%);
    color: white;
    padding: 0 40px 0 15px;
    z-index: 5;
    pointer-events: none;
  }
  .vote-controls__dropdown-arrow{
    color: white;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-right: 8px;
    z-index: 5;
    pointer-events: none;
  }
  .vote-controls__dropdown{
    font-size: 16px;
    position: absolute;
    background-color: hsl(215, 15%, 35%);
    height: $searchHeight;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px lightgray;
    border-style: none solid none none;
    padding: 0 10px;
    option{
      font-size: 14px;
      color: white;
    }
  }
}